.App {
  text-align: center;
}

/* Header */

.App-header {
  height: 200px;
  margin: 20px;
}

.logo {
  float: left;
  font-style: italic;
}

/* Links */

a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

/* Footer */

.App-footer {
  display: flex;
}

.left-div, .central-div, .right-div {
  width: 30%;
  box-sizing: border-box;
}

.left-div {
  text-align: left;
}

.right-div {
  text-align: right;
}
