
.DetailsPage-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

.DetailsPage-gallery_image {
  width: 300px;
}

.DetailsPage-description {
  text-align: left;
}

.DetailsPage-add {
  text-align: right;
}

.DetailsPage-add button {
  min-width: 100px;
  height: 40px;
  margin-top: 20px;
  color: white;
  background-color: green;
  border-color: green;
  border-radius: 10px;
  font-weight: bold;
}

.DetailsPage-add input {
  width: 23px;
  margin-left: 5px;
}

.DetailsPage-comments h3 {
  margin-left: 15px;
  font-style: italic;
}
