
.ShoppingCartPage-header {
  text-align: center;
}

.ShoppingCartPage-table-area {
  width: 80%;
  margin: auto;
  font-size: 1.1em;
}

.ShoppingCartPage-table {
  width: 100%;
}

.ShoppingCartPage-message {
  text-align: center;
}

.ShoppingCartPage-remove-button {
  background-color: lightgrey;
  border-color: lightgrey;
  width: 62px;
  height: 24px;
  border-radius: 5px;
  font-weight: bold;
}

.ShoppingCartPage-clear-button {
  float: right;
  min-width: 100px;
  height: 40px;
  margin-top: 20px;
  margin-right: 82px;
  background: linear-gradient(to bottom, #e184e3 0%, white 100%);
  border-color: #e184e3;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.ShoppingCartPage-go-forward-button {
  float: right;
  min-width: 100px;
  height: 40px;
  margin-top: 20px;
  margin-right: 82px;
  background-color: green;
  border-color: green;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
